<!-- views/event.handlebars -->
    {{#if user}}   
<div class="jumbotron
<form id="event-post" class="collapse" action="/event-post" method="post">
    <div>
     <p></p>
     <label>Event:</label>
        <input type="text" title="username"/>
    </div>
    <div>
       <input type="submit" class="btn btn-primary btn-sm" value="Post"/>
    </div>
  </form>
  </div>
{{/if}}