<!-- views/info.handlebars -->
{{#if user}}
  <div class="jumbotron">

<h1>Info</h1>
       </div>
        
<article>
  <h2>What Bike buddy is about</h2>
  <p>Bicycling should be fun</p>
</article>

  {{else}}
      <div class="jumbotron">

<h1>Bike buddy</h1>
       </div>
        
<article>
  <h2>What Bike buddy is about</h2>
  <p>Bicycling should be fun</p>
</article>

{{/if}}