<!-- views/info.handlebars -->
{{#if user}}
  <div class="jumbotron">

<h1>Info</h1>
       </div>

<article>
  <h2>Malmö – cyclists’ favourite</h2>

  <p>Malmö – cyclists’ favourite</p>
<p>Among world’s best cities for cycling (Travel+Leisure Magazine 2015)</p>
<p>500 km of cycle paths</p>
<p>Maps and guides available</p>
<p>Easy to rent or borrow bikes</p>
</article>

  {{else}}
      <div class="jumbotron">

<h1>Bike buddy</h1>
       </div>

       <article>
         <h2>Malmö – cyclists’ favourite</h2>

         <p>Malmö – cyclists’ favourite</p>
       <p>Among world’s best cities for cycling (Travel+Leisure Magazine 2015)</p>
       <p>500 km of cycle paths</p>
       <p>Maps and guides available</p>
       <p>Easy to rent or borrow bikes</p>
       </article>

{{/if}}
