<!-- views/signin.handlebars -->
<div class="jumbotron">
  <h1>Sign in</h1>
  <p>Welcome to Bikebuddy</p>
</div>
<div class="buttons">
    <a href="/auth/facebook/" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
</div>
